@use "../abstracts/variables" as *;
body {
  background-color: $azbebe;
  border: 3px solid black;
}

.content {
  padding: 20px;
  
  margin: 10px;

  &.--centralizer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.--margin-left{
    margin-left: 150px;
  }
  
  &.--wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color:pink
  }
}

.button{
  background-color: $marrom;
  color: white;
  border: 1 px solid black;
  padding: 10px 20px;
  cursor: pointer;
  position:relative;

  &.--color-orange{
    color: orange;
  }

  

  
}