@use "variables" as *;
.header {
  // background-color: yellow;
  // padding: 10px;

  // h1 {
  //   //estilos só serão aplicados para o h1 dentro do header
  //   color: $color;
  //   font-family: $font-family;
  background-color: bisque;
  border: 3px solid black;



  h1{
    color: $rosa;

  }

  
  }
  

