.image {
  width: 70px;
  height: 100px;
}

body {
  background-color: rgb(0, 204, 255);
  border: 3px solid black;
}

.content {
  padding: 20px;
  margin: 10px;
}
.content.--centralizer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content.--margin-left {
  margin-left: 150px;
}
.content.--wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: pink;
}

.button {
  background-color: brown;
  color: white;
  border: 1 px solid black;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}
.button.--color-orange {
  color: orange;
}

.header {
  border: 3px solid black;
}
.header__title.--background {
  background-color: rgb(48, 180, 36);
}
.header__title.--fonte {
  color: blueviolet;
}
.header__subtitle.--background {
  background-color: rgb(255, 230, 5);
}
.header__subtitle.--fonte {
  color: blueviolet;
}
